@font-face {
  font-family: "Segoe-UI";
  src: url("../fonts/Segoe-UI/Segoe-UI.tft") format('truetype');
  /* IE9 Compat Modes */
  src: url("../fonts/Segoe-UI/Segoe-UI.woff2") format("woff2"), 
       url("../fonts/Segoe-UI/Segoe-UI.woff") format("woff"),
       url("../fonts/Segoe-UI/Segoe-UI.otf") format('opentype'),
       url("../fonts/Segoe-UI/Segoe-UI.svg") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe-UI-Bold";
  src: url("../fonts/Segoe-UI/Segoe-UI Bold.tft") format('truetype');
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal;
}
