//colors
$black: #000;
$white: #fff;
$dark-blue: #223b7e;
$blue: #0072bc;
$color: #1b5eaa;
$h2color: #1c8ece;
$pcolor: #223b7e;
$acolor: #3697d1;
$gcolor: #3697d1;

//fonts
$sgui: "Segoe-UI";
$sgui-bold: "Segoe-UI-Bold";

//font-size
$f50: 5rem;
$f36: 3.6rem;
$f30: 3rem;
$f16: 1.6rem;
$f14: 1.4rem;
$f12: 1.2rem;
$f10: 1rem;
